{% include 'topbase.html.twig' %}
<div id="home">
  <h1> Get Ready to Play Rock Paper Scissors!!!! <h1>
    <h3> Player 2 turn around now!</h3>
    <form id="start">
      <button type="button" name="button">Start Battle!</button>
    </form>
    <div id="playerone">
    <form action="rock_input" method="post">
      <div>
        <button type="submit" name="rock" value="rock"><img class="choice" src="img/rock.png"></button>
      </div>
    </form>
    <form action="paper_input" method="post">
      <button type="submit" name="paper" value="paper">
        <img class="choice"  src="img/paper.jpeg">
      </button>
    </form>
    <form action="scissor_input" method="post">
      <button name="scissors" value="scissors">
        <img class="choice" src="img/scissors.jpeg" >
      </button>
    </form>
  </div>
</div>
{% include 'bottombase.html.twig' %}
