{% include 'topbase.html.twig' %}
<div id="home">
  <h1> Get Ready to Play Rock Paper Scissors!!!! <h1>
    <h3> Player 2 turn around now!</h3>
    <form id="start">
      <button type="button" name="button">Start Battle!</button>
    </form>
    <div id="playerone">
    <form action="rock_input" method="post">
      <div class="radio">
        <label>
        <input type="radio" name="choice" value="rock">
          <img class="choice" src="img/rock.png">
        </label>
      </div>
      <div class="radio">
        <label>
        <input type="radio" name="choice" value="paper">
          <img class="choice" src="img/paper.jpeg">
        </label>
      </div>
      <div class="radio">
        <label>
        <input type="radio" name="choice" value="scissors">
          <img class="choice" src="img/scissors.jpeg">
        </label>
      </div>
    </form>
  </div>
</div>
<div id="playerTwo">
  <h1> Get Ready Player 2 <h1>
    <h3> Player 1 turn around now!</h3>
    <form id="startTwo">
      <button type="button" name="button">Start Battle!</button>
    </form>
    <form action="rock_inputs" method="post">
      <button name="rocks" value="rock">
        <img class="choice" src="img/rock.png">
      </button>
    </form>
    <form action="paper_inputs" method="post">
      <button type="submit" name="papers" value="paper">
        <img class="choice"  src="img/paper.jpeg">
      </button>
    </form>
    <form action="scissor_inputs" method="post">
      <button name="scissorss" value="scissors">
        <img class="choice" src="img/scissors.jpeg" >
      </button>
    </form>
  <div>
  <div id="results"><h1> And the winner is... <h1>
      <ul>
        <li>{{ zach.checkWinner(steve[0], max[0]) }}</li>
      </ul>
      <form action="/delete" method="post">
        <button type="submit">See Winner</button>
      </form>
      <form action="/home" method="post">
        <button type="submit">Start Over</button>
      </form>
  </div>
{% include 'bottombase.html.twig' %}
