{% include 'topbase.html.twig' %}

  <h1> Get Ready Player 2 <h1>
    <h3> Player 1 turn around now!</h3>
    <form id="startTwo">
      <button type="button" name="button">Start Battle!</button>
    </form>
    <div id="playerTwo">
    <form action="rock_inputs" method="post">
      <button name="rocks" value="rock">
        <img class="choice" src="img/rock.png">
      </button>
    </form>
    <form action="paper_inputs" method="post">
      <button type="submit" name="papers" value="paper">
        <img class="choice"  src="img/paper.jpeg">
      </button>
    </form>
    <form action="scissor_inputs" method="post">
      <button name="scissorss" value="scissors">
        <img class="choice" src="img/scissors.jpeg" >
      </button>
    </form>
  </div>
{% include 'bottombase.html.twig' %}
