{% include 'topbase.html.twig' %}
<h1> And the winner is... <h1>
  <ul>
  <li>{{ zach.checkWinner(steve[0], max[0]) }}</li>
</ul>
  <form action="/delete" method="post">
    <button type="submit">See Winner</button>
  </form>
{% include 'bottombase.html.twig' %}
